.text-center.page-header
    h1 What We Do
    .row
      .container
        .panel.panel-default
          .panel-body
            h3.text-center
              | We are a venture capital group that invests intellectual equity to transform ideas into successful products. The core company of Minerva is a think tank of experienced technologists who are passionate about the goal of building products that change the way people interact with their world. We focus on building products that take every day tasks and interactions of our users and fundamentally improve them. Every employee has a chance to become part of the equity of the company, and thus have an owner&rsquo;s stake in all of Minerva&apos;s brands. This fosters a culture of ownership internally that ensures we deliver the best results.
    .row
      .container
        .panel.panel-default
          .panel-body
            h1 Our Consulting Practices
            |         
            p
              | &ldquo;Virtual CTO&rdquo; Beyond coding, our expertise can help you better manage the development process. We strongly believe that software development should not be putting out fires. Our team uses agile software development practices to create a delivery-focused process that empowers the developers. By setting clear priorities and deliverables in smaller chunks, it becomes easier to track projects and deal with the bumps along the road.
        |     
        .panel.panel-default
          .panel-body
            h1 Our UI Practices
            |         
            p
              | Minerva works with the best designers and front-end engineers in order to create brilliant user experiences. Truly beautiful design lives at the intersection of beauty and functionality. This is why our engineers and designers work together so closely.
            |         
            p
              | Our sites utilize responsive, mobile-first development and design. This is achieved using cutting edge frameworks, e.g. Angular.js, Backbone.js, Bootstrap etc.
            |         
            p
              | Front end no longer just means the browser, which is why our team also works in iOS and Android applications. More and more companies are engaging with their customers through native apps, and Minerva can help you expand into that market.
        |     
        .panel.panel-default
          .panel-body
            h1 Our Software Development Practices
            |         
            p
              | As technology becomes a larger part of our lives, the applications we create are becoming more complex to meet the demand. However, by utilizing a modular architecture and modern frameworks these large applications become manageable.
            |         
            p
              | A service-oriented architecture allows for the separation of the data and presentation layer. Creating a normalized API allows you to publish once and consume everywhere. No longer will your iOS application and your web application need separate interfaces. This allows you to separately scale your infrastructure intelligently.
            |         
            p
              | This is done by utilizing a combination of technologies based on your project&rsquo;s needs. A single application may use python for the API layer, Node.js for the middle tier, and iOS for the presentation layer. This flexibility allows you to take advantage of the strengths of each of these technologies, without having to suffer their weaknesses throughout your entire stack.
