.row
    .container.text-center
        .col-sm-4
          h2 Ventures
          |       
          p
            | Create start-ups from internal ideas or ideas brought to us through valuable relationships. These start-ups move through our MVP, testing, and release processes. The idea can then branch into its own company. We are currently targeting one MVP per quarter.
        |     
        .col-sm-4
          h2 Consulting
          |       
          p
            | Consult with existing companies to implement enterprise problem solving solutions. We do this in two capacities, by building solutions, and  helping our clients with internal process. We take the knowledge and results of these situations to grow and help clients by developing products that solve both common and complex issues.
        |     
        .col-sm-4
          h2 Portfolio
          |       
          p
            | We build portfolio projects for brands that are looking to do something awesome on the web. This provides a fertile playground to test out cutting-edge technologies and push the limits of user interaction.
