.text-center.page-header
    h1 Our Venture Practices
    .row
      .container
        p
          strong MVP:
          |  We will spend 3 months taking an idea and bringing it to life through design and code. This stage will last an average of 3 months in order to keep the goal of 4 a year. We will create a quality written beautiful application in order to test the assumption of our ideas with the market. The goal of this is to have a usable product at the end that we can hand off to actual users and get their feedback.
        |     
        p
          strong User Testing:
          |  Once our application&rsquo;s MVP is complete we will begin to promote the product and execute our initial customer acquisition strategy. This will allow us to test our assumptions and make necessary improvements or fixes. This will average 2 months, and be planned out during the MVP stage. At the end of this stage we will make a decision to take one of three courses of action.
        |     
        ol
          li Proceed to funding stage if customer acquisition is successful.
          |       
          li Pivot the core idea in order to make the product successful.
          |       
          li
            | Move the product to open source and use it as an educational example, if the product is deemed unsuccessful.
        |     
        p
          strong Funding:
          |  Once we have successfully complete the user acquisition and proven the product viable it can enter the funding stage. Here we evaluate and plan the best growth strategy for the product. At this point the product is spun off into its own organization and remains a subsidiary of Minerva Group, LLC. We will then determine if the growth stage should be funded through traditional venture capital channels, or partnerships.
        |     
        p
          strong Growth:
          |  After the funding stage the fun begins where we execute the growth strategy and transform the product into a solidified brand. In this stage we will also transition out of beta and into a more proven product to gain market penetration.
        |     
        p
          strong Established Brand:
          |  Once a brand has been established and completed its growth phase Minerva will continue to supply technical expertise to the brand to achieve continued success. At this point we will formulate long term strategies and determine whether to keep it as a holding, or execute an exit strategy.
